.main-map {
  iframe {
    height: 309px;
  }

  .map-results-cont {
    display: inline-block;
  }

  .results-cont {
    max-width: 1280px;
    margin: 5px auto 0px auto;
    padding: 0 10px;

    .button {
      margin-bottom: 10px;

      img {
        height: 31px;
        vertical-align: middle;
        margin-right: 5px;
      }

      span {
        vertical-align: middle;
        color: $grey;
        font-weight: 600;
      }
    }

    .slimScrollDiv {
      display: inline-block!important;
    }

    #map-results {
      display: inline-block!important;
      vertical-align: top!important;

      .result {
        height: auto;
        margin-bottom: 10px;
        max-width: 800px;

        .icon-cont {
          display: inline-block;
          vertical-align: top;
          width: 40px;
          height: 40px;
          padding: 5px 10px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .main-info {
          display: inline-block;
          vertical-align: top;
          max-width: 33.5%;
          padding-right: 5px;

          span {
            font-size: 0.9em;
            color: $darkGrey;
            font-weight: 600;
          }

          p {
            font-size: 0.9em;
            color: $grey;
          }
        }

        .transport {
          display: inline-block;
          vertical-align: top;
          max-width: 20%;

          .schedule {
            margin-bottom: 20px;
            padding: 0 4px;

            span {
              display: block;
              font-size: 0.95em;
              color: $grey;
            }

            .day {
              color: $darkGrey;
            }
          }

          .arrive-time {
            .car,
            .walk {
              display: inline-block;
              margin-right: 7px;

              i {
                display: block;
                vertical-align: bottom;

                img {
                  width: 20px;
                  height: 20px;
                  vertical-align: bottom;
                }
              }

              span {
                color: $grey;
                font-size: 0.9em;
                vertical-align: bottom;
              }
            }

            .car {
              i {
                img {
                  height: 10px;
                }
              }
            }
          }
        }

        .img {
          display: inline-block;
          vertical-align: top;
          width: 42%;
          height: 95px;
          overflow: hidden;
          @include border-right-radius();

          .info {
            height: 46px;
            position: relative!important;
            top: 44px!important;
            right: 0;
            @include gradient-right();

            .cont {
              float: right;
              height: 40px;
              margin: 4px 6px 3px;
            }

            a {
              display: inline-block;
              vertical-align: middle;
              margin-right: 8px;

              img {
                height: 20px;
                width: 12.41px;
              }
            }

            .rating {
              display: inline-block;
              vertical-align: middle;

              img {
                display: block;
                height: 20px;
              }

              span {
                display: block;
                color: #fff;
                font-size: 0.9em;
              }
            }
          }
        }
      }

      .host {
        h3 {
          color: $hosting-color;
        }
      }

      .learn {
        h3 {
          color: $learn-color;
        }
      }

      .innovate {
        h3 {
          color: $innovate-color;
        }
      }

      .life {
        h3 {
          color: $life-color;
        }
      }

      .enjoy {
        h3 {
          color: $enjoy-color;
        }
      }

      .social {
        h3 {
          color: $social-color;
        }
      }
    }

    .my-places {
      display: inline-block;
      vertical-align: top;
      width: 35%;

      .slimScrollDiv {
        width: 100%!important;
      }

      #myPlaces-result {
        .place:hover {
          height: 120px;
        }

        .place {
          margin: 5px 15px 5px 0;
          height: 40px;
          overflow-y: hidden;
          @include all-transition(200ms);

          .title {
            padding: 5px;
            cursor: default;

            img {
              width: 30px;
              height: 30px;
              vertical-align: middle;
            }

            h3 {
              display: inline-block;
              font-weight: 600;
              font-size: 1.3em;
              vertical-align: middle;
            }
          }

          .img {
            overflow: hidden;
            @include border-bottom-radius();
            height: 70px;

            .info {
              height: 46px;
              position: relative!important;
              top: 24px!important;
              right: 0;
              @include gradient-right();

              .cont {
                float: right;
                height: 40px;
                margin: 4px 6px 3px;
              }

              a {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;

                img {
                  height: 20px;
                  width: 12.41px;
                }
              }

              .rating {
                display: inline-block;
                vertical-align: middle;

                img {
                  display: block;
                  height: 20px;
                }

                span {
                  display: block;
                  color: #fff;
                  font-size: 0.9em;
                }
              }
            }
          }
        }

        .host {
          h3 {
            color: $hosting-color;
          }
        }

        .learn {
          h3 {
            color: $learn-color;
          }
        }

        .innovate {
          h3 {
            color: $innovate-color;
          }
        }

        .life {
          h3 {
            color: $life-color;
          }
        }

        .enjoy {
          h3 {
            color: $enjoy-color;
          }
        }

        .social {
          h3 {
            color: $social-color;
          }
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  .main-map {
    iframe {
      height: 620px;
    }
  }
}
