// Estilos para cuando el usuario esta dentro de un viaje (Boton de mapa, agenda...)
.utilities{

  .button {
    display: block;

    img{
      width: 31px;
      height: 31px;
      vertical-align: middle;
      margin-right: 5px;
    }
    span{
      display: inline-block;
      vertical-align: middle;
      color: $grey;
      font-weight: 600;
    }
  }
  .map{
    margin-bottom: 20px;

  }
  .diary{
    margin-bottom: 20px;

    .diary-drop-down {
      margin-left: 15px;
      padding: 10px 0 5px 7px;
      border-left: 1px solid $lightGrey;

      .appointment-alert {
        @include border-radius ();
        overflow: hidden;
        margin-bottom: 5px;

        .header {
          background-color: $alert;
          padding: 4px 7px 5px 10px;
          color: #fff;
          max-height: 2.5em;
          overflow: hidden;

          img {
            height: 20px;
            vertical-align: middle;
            margin-right: 3px;
          }
          .date-hour {
            padding-right: 5px;
            font-size: 0.9em;
          }
          .name {
            font-weight: 600;
          }
        }
      }

      .body {

        .img {
          height: 80px;
        }
      }
    }
  }
}
